body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#f6fdff8c;
  color:#343434;
}

code {
  font-family: Consolas, 'Courier New',
    monospace;
}

.home-logo {
  width:250px;
}

.home-image {
  text-align:center;
}

.home-headline {
  line-height:3rem;
  font-weight:700;
  color:#454545;
  letter-spacing:0.06rem;
}

.home-image-preview {
  width:auto;
  max-width:100%;
  height: 50vh;
  object-fit: cover;
}

.form-label {
  color:#444444;
  font-size: 0.95rem;
}

.tos-text-signup{
  background-color:#ecf9fc;
  text-align:center;
  font-weight:500;
  border-radius:0 0 1rem 1rem;
}

.text-sm {
  font-size: 0.8rem;
}

.card-effect {
  border-radius: 1rem;
  border:1px rgba(0,0,0,0) solid;
  box-shadow:0 0 100px 20px rgba(2, 113, 144, 0.1)
}

.error-bg input, .error-bg input:focus {
  background-color:rgba(178,34,34,0.2);
}