// Bootstrap
$theme-colors: (
    "primary": #0075ff,
    "danger": #ff4136,
    "success": #28a745,
    //success, info
);
:root {
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@400;500;600;700;900&display=swap");

// Overwrites
@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

// $clr-accent: #0075ff;
// $clr-white: #ffffff;
// $clr-text: #51515c;
// $clr-black: #000000;
// $clr-light-accent: #f7f7f9;
// $clr-grey: #8a8a94;

$clr-accent: #0075ff;
$clr-white: #131314;
$clr-text: #dcdcdc;
$clr-black: #ffffff;
$clr-light-accent: darken(#fafafb, 85%);
$clr-grey: #8a8a94;

html {
    font-size: 16.5px;
}

@media (max-width: 992px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: auto;
    line-height: 2rem;
    background-color: $clr-white;
    background-image: linear-gradient(
        to right,
        $clr-white 50%,
        $clr-light-accent 60%
    );
    color: $clr-text;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Noto Sans", "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

a {
    color: $clr-accent;
    text-decoration: none;
}

button:focus,
input:focus {
    outline: none;
}

.btn-light-accent {
    color: $clr-accent !important;

    i {
        color: $clr-accent !important;
    }
}

.row {
    --bs-gutter-x: 0;
}
.g-3 {
    --bs-gutter-x: 1rem;
}

.form-label {
    color: $clr-text;
}

.form-control {
    background: rgba($clr-light-accent, 0.4);
    color: $clr-black;
    border: 0.1rem solid rgba($clr-grey, 0.3);
    border-radius: 0.75rem;
    padding: 0.6em 1em;

    &:focus {
        background: $clr-white;
        color: $clr-black;
        border-color: $clr-accent;
        outline: 0;
        box-shadow: 0;
    }
}

.card {
    background-color: $clr-white;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0 1.5rem 0;
    border: none;
    box-shadow: 0 0 5px 1px rgba($clr-grey, 0.05);
}

.card-btn {
    margin: -1rem;
    margin-top: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-transform: uppercase;
    font-style: bold;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    font-family: "Poppins";
    font-weight: 600;
    color: $clr-black;
    border: none;
    padding: 0.25rem 0;
    background-color: rgba($clr-light-accent, 0.5);

    &:hover {
        background-color: rgba($clr-light-accent, 0.75);
        text-decoration: underline;
    }
}

.btn-outline-success:hover,
.btn-outline-danger:hover {
    color: #ffffff;
}

// Helper classes
.text-sm {
    font-size: 0.8rem;
}

.text-sml {
    font-size: 0.9rem;
}

.fw-med {
    font-weight: 500;
}

.form-label {
    font-size: 0.95rem;
}

.card-effect {
    border-radius: 1rem;
    border: 1px rgba($clr-accent, 0) solid;
    box-shadow: 0 0 100px 20px rgba($clr-accent, 0.1);
}

.error-bg input,
.error-bg input:focus {
    border-color: rgba(theme-color("danger"), 0.6);
}

.btn-light:focus {
    box-shadow: 0 0 0 0 #ffffff;
}

.btn {
    border-radius: 0.75rem;
}

.bg-social-icons {
    box-shadow: inset 0 0 4rem 1rem rgba($clr-light-accent, 0.7);
    position: relative;
    background: $clr-light-accent url(../src/assets/images/bg-4.png);
    background-size: 250px;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        background-color: rgba($clr-light-accent, 0.5);
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -1;
    }
}

// Components

.home {
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: $clr-light-accent;

    .intro-panel {
        margin: 0rem 1rem 2rem;
        .logo {
            width: 300px;
            margin: 2rem 0;
            max-width: 75%;
        }

        h2 {
            margin: .5em 0 1em 0;
            line-height: 2.5rem;
            font-weight: 400;
            color: $clr-text;
            letter-spacing: 0.03rem;
        }

        p {
            font-family: 'Poppins';
            font-weight: 300;
            letter-spacing: 0.01rem;
            color: rgba($clr-black,.7);

            b {
                font-weight: 500;  
                border-bottom: .1rem $clr-accent solid;
                letter-spacing: 0.03rem;
                padding: 0 0.1rem;
                color: $clr-black;
            }
        }
    }
}

.signup {
    margin: 1rem;
    line-height: 1.6rem;

    & > .card {
        padding: 1.5rem;

        @media (max-width: 1200px) {
            padding: 1rem;
        }
    }

    .row {
        margin-top: 0rem;
    }

    .tos-text-signup {
        background-color: rgba($clr-light-accent, 0.5);
        text-align: center;
        font-weight: 500;
        border-radius: 0 0 1rem 1rem;
        margin: -1.55rem;
        margin-top: 1rem;
        line-height: 1.2rem;
        color: rgba($clr-black, 0.5);
        font-size: 0.8rem;
        padding: 1em;

        a:hover {
            text-decoration: underline;
        }

        @media (max-width: 1200px) {
            margin: -1.05rem;
            margin-top: 1rem;
        }
    }

    h3 {
        font-weight: 500;
        margin: 0.3em 0 0.5rem;
    }

    .form-label {
        margin-bottom: 0.2rem;
        font-size: 0.85rem;
    }

    .btn-signup {
        width: 100%;
        margin: 1rem 0;
        font-weight: bold;
        font-size: 0.9rem;
        padding: 0.75rem;
    }

    .choose-avatar {
        text-align: left;
        color: $clr-grey;

        & > i {
            margin-right: 0.5rem;
            color: rgba($clr-black, 0.7);
            font-size: 1rem;
        }

        &:focus {
            border-color: $clr-accent;
            background-color: $clr-white;
            color: $clr-black;
        }
    }
}

.login {
    padding: 0 1rem;
    background-color: $clr-light-accent;

    h3 {
        font-weight: 600;
        margin: 0.25em 0 0.5rem;
    }

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        line-height: 1.6rem;

        .logo {
            width: 250px;
            padding: 0rem 0.5rem;
            margin-bottom: 3rem;
        }

        .form-label {
            margin-top: 1rem;
        }

        button {
            width: 100%;
            margin: 1.2rem 0 1.5rem;
            font-weight: bold;
            font-size: 0.9rem;
            padding: 0.75rem;
        }
    }
}

.navbar {
    background: $clr-white;
    border-bottom: 1px rgba($clr-grey, 0.15) solid;
    box-shadow: 0 0 1px 0 rgba($clr-grey, 0.1);
    padding: 0.4rem 0;
    position: fixed;
    width: 100%;
    z-index: 1;

    & > .container > .row {
        text-align: start;

        & > .nav-brand {
            h6 {
                padding: 0 1.5rem;
                font-weight: 800;
                letter-spacing: 0.05rem;
                margin: 0.8rem 0 0 0;
                display: inline-block;
                width: 85%;

                & > img {
                    max-height: 1.6rem;
                    background-color: transparent;
                }
            }

            .navbar-toggler {
                border: 0px;
                padding: 0.8rem;
                margin-top: 0.3rem;
                color: $clr-text;

                .navbar-toggler-icon {
                    background-size: 80%;
                }

                &:focus {
                    box-shadow: 0 0 0 0;
                    outline: 0;
                }
            }
        }

        .row > div {
            &:last-child {
                display: flex;
                justify-content: flex-end;
            }

            & > form {
                border: 1px rgba($clr-grey, 0.1) solid;
                border-radius: 0.5rem;
                background-color: $clr-light-accent;
                font-size: 0.8rem;
                margin: 0.5rem 1.5rem;

                @media(max-width:992px) {
                    margin-top:1rem;
                }

                input {
                    border: 0px;
                    background: transparent;
                    color: $clr-black;
                    padding: 0 0.6rem;
                    width: 100%;
                    transition: background-color ease-out 250ms;

                    &:focus {
                        outline: 0;
                        background-color: rgba($clr-grey, 0.05);
                    }
                }
                button {
                    border: 0px;
                    background-color: transparent;
                    padding: 0 0.7rem;
                    max-height: 2rem;
                    color: $clr-grey;
                    font-size: 0.9rem;
                    transition: color ease-out 250ms,
                        background-color ease-out 250ms;
                    border-top-right-radius: 0.5rem;
                    border-bottom-right-radius: 0.5rem;

                    &:focus,
                    &:hover {
                        outline: 0;
                        color: $clr-black;
                    }

                    &:focus {
                        background-color: rgba($clr-black, 0.08);
                    }
                }
            }

            .collapse {
                justify-content: flex-end;
            }

            ul > li {
                font-size: 0.9rem;
                padding: 0 1.5rem;
                margin: 0.5rem 0;

                button {
                    color: $clr-text;
                    position: relative;
                    background-color: transparent;
                    border: none;

                    i {
                        margin-left: 0.5rem;
                        font-size: 1rem;
                    }

                    &::after {
                        content: "";
                        display: block;
                        height: 1px;
                        width: 0px;
                        background-color: $clr-white;
                        position: absolute;
                        left: 0;
                        right: 0;
                        transition: width ease-in-out 250ms,
                            background-color ease-in-out 250ms;
                    }

                    &:hover {
                        color: $clr-black;

                        &::after {
                            background-color: $clr-black;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
.navbar-spacer {
    padding-top: 4.035rem;
}

.leftsidebar {
    width: inherit;
    max-width: 19.75rem;
    height: 100vh;
    position: fixed;
    padding: 0 1rem;
    overflow-y: scroll;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* Chrome/Safari/Webkit */
    }

    .user {
        margin: 1rem 0;
        background-color: $clr-light-accent;
        border: 1px rgba($clr-grey, 0.1) solid;
        border-radius: 0.8rem;
        padding: 0.7rem 0.5rem;
        gap: 0.5rem;

        img {
            min-width: 2rem;
            min-height: 2rem;
            max-width: 2rem;
            max-height: 2rem;
            object-fit: cover;
        }

        div {
            width: 80%;
            max-width: 25ch;

            span,
            h6 {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: block;
            }
            h6 {
                font-size: 0.9rem;
                font-weight: 500;
                letter-spacing: 0.03rem;
                color: $clr-black;
            }
            span {
                font-size: 0.8rem;
                color: $clr-grey;
                line-height: 1.2rem;
            }
        }
    }

    & > .navigation {
        margin: 1rem 0;
        & > button,
        a {
            display: inline-block;
            background-color: transparent;
            border: none;
            width: 100%;
            text-align: start;
            border-radius: 0.5rem;
            color: $clr-black;
            font-family: "Poppins";
            font-weight: 500;
            font-size: 0.85rem;
            letter-spacing: 0.03rem;
            padding: 0.2rem 1rem;
            margin: 0.4rem 0;
            box-sizing: border-box;
            transition: color ease-in-out 250ms;

            & > i {
                margin-right: 1rem;
                color: $clr-grey;
                font-size: 1.2rem;
                width: 1.2rem;
                height: 1.2rem;
                transition: color ease-in-out 250ms;
            }

            &:hover {
                color: $clr-accent;
                & > i {
                    color: $clr-accent;
                }
            }

            &:focus {
                background-color: rgba($clr-grey, 0.08);
            }
        }

        & > .active {
            color: $clr-accent !important;
            box-shadow: 10px 7px 15px -1px darken($clr-light-accent, 4%);
            background-color: $clr-light-accent;

            & > i {
                color: $clr-accent !important;
            }
        }
    }

    & > .about {
        margin-top: 3rem;

        h6 {
            text-transform: uppercase;
            font-size: 0.8rem;
            letter-spacing: 0.1rem;
            color: $clr-grey;
            margin: 2rem 0 1rem 0;
        }

        p {
            line-height: 1.5rem;
            font-size: 0.9rem;
            margin-top: 1rem;
        }

        .techs a {
            display: table;
            color: $clr-black;
            margin: 0.5rem 0.5em;
            font-family: "Poppins";
            font-size: 0.85rem;
            font-weight: 500;
            position: relative;

            &::after {
                content: "";
                display: block;
                height: 1px;
                width: 0px;
                background-color: $clr-white;
                position: absolute;
                left: 0;
                right: 0;
                transition: width ease-in-out 250ms,
                    background-color ease-in-out 250ms;
            }

            &:hover {
                color: $clr-black;

                &::after {
                    background-color: $clr-black;
                    width: 100%;
                }
            }

            .python {
                color: #646464;
            }

            .reactjs {
                color: #61dbfb;
            }

            .sql {
                color: #008bb9;
            }

            .faw {
                color: #339af0;
            }

            .bts {
                color: purple;
            }

            & > i {
                width: 1rem;
                height: 1rem;
                margin-right: 1rem;
                font-size: 1rem;
                color: $clr-grey;
            }
        }
    }
}

@media (max-width: 1400px) {
    .leftsidebar {
        max-width: 17rem;
    }
}

@media (max-width: 1200px) {
    .leftsidebar {
        max-width: 14.15rem;
    }
}

.timeline {
    background-color: $clr-light-accent;
    padding: 0 1rem;
    min-height: 100vh;

    & > .create-post {
        background-color: $clr-white;
        border-radius: 1rem;
        padding: 1rem 1rem 0 1rem;
        margin: 1rem 0 1.5rem 0;

        & > h6 {
            margin-bottom: 1rem;
            font-size: 0.85rem;
            font-weight: 500;
        }

        & > .d-flex {
            & > img {
                min-width: 2.5rem;
                min-height: 2.5rem;
                max-width: 2.5rem;
                max-height: 2.5rem;
                object-fit: cover;
                margin-top: 0.25rem;
            }

            & > textarea {
                width: 100%;
                max-height: 10rem;
                border: none;
                margin: 0 0.5rem;
                padding: 0.5rem 1rem;
                background-color: $clr-white;
                color: $clr-black;
                letter-spacing: 0.02rem;
                font-size: 0.9rem;
                line-height: 1.6rem;
                transition: background-color ease-in-out 250ms;
                border-radius: 1rem;
                min-height: 3rem;
                resize: none;

                &:focus,
                &:hover {
                    outline: none;
                    background-color: rgba($clr-grey, 0.15);
                }
            }

            & > button {
                background-color: transparent;
                border: none;
                padding: 0;
                font-size: 1.4rem;
                width: 3rem;
                height: 3rem;
                color: $clr-grey;
                border-radius: 50%;
                transition: background-color ease-in-out 250ms,
                    color ease-in-out 250ms;

                & > i {
                    width: inherit;
                    height: inherit;
                    display: grid;
                    place-content: center;
                }

                &:focus,
                &:hover {
                    color: $clr-black;
                    background-color: rgba($clr-grey, 0.2);
                    outline: none;
                }
            }
        }

        & > .submit-btn {
            margin: 0.75rem 0 0 2.85rem;
            padding: 0.25rem;
            max-height: 0rem;
            opacity: 0;
            overflow-y: hidden;
            transition: max-height ease-out 350ms, opacity ease-out 350ms;

            button {
                margin-bottom: 1rem;
            }

            span {
                vertical-align: top;
                margin: 0 1rem;
                font-weight: 600;
                font-size: 0.8rem;
                letter-spacing: 0.02rem;
            }
        }

        .show-btn {
            opacity: 1;
            max-height: 3.5rem;
        }
    }

    .post {
        animation: 0.5s ease-out 0s 1 slideInFromRight forwards;
        & > .user {
            border-radius: 0.8rem;
            gap: 0.75rem;

            img {
                min-width: 2.5rem;
                min-height: 2.5rem;
                max-width: 2.5rem;
                max-height: 2.5rem;
                object-fit: cover;
            }

            div {
                width: 100%;
                vertical-align: middle;

                span,
                h6 {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display: block;
                }
                h6 {
                    font-size: 0.9rem;
                    font-weight: 500;
                    letter-spacing: 0.03rem;
                    color: $clr-black;
                    margin-top: 0.25rem;
                }
                span {
                    font-size: 0.8rem;
                    color: $clr-grey;
                    margin-top: 0.25rem;
                    line-height: 1rem;
                }
            }

            a {
                color: $clr-grey;
                min-width: 2.5rem;
                height: 2.5rem;
                display: grid;
                place-content: center;
                border-radius: 50%;
                transition: background-color ease-out 250ms;

                & > i {
                    height: 1rem;
                    width: 1rem;
                }

                &:hover {
                    color: $clr-black;
                    background-color: rgba($clr-grey, 0.2);
                }
            }
        }

        & > p {
            margin: 1rem 0;
            line-height: 1.5rem;
            font-size: 0.9rem;
        }

        & > .post-picture {
            background-color: rgba($clr-grey, 0.05);
            min-height: 10rem;
            max-height: 35rem;
            object-fit: contain;
        }

        & > .post-actions {
            gap: 1.5rem;
            margin-top: 1rem;
            border-top: 1px rgba($clr-grey, 0.07) solid;
            padding: 1rem 0 0 0;

            & button {
                background-color: transparent;
                border: none;
                color: $clr-text;
                text-align: start;
                font-size: 0.85rem;
                border-radius: 0.5rem;
                padding: 0 0.5rem;
                white-space: nowrap;

                & > i {
                    color: $clr-grey;
                    margin-right: 0.5rem;
                    font-size: 1rem;
                }

                &:hover,
                &:focus {
                    background-color: rgba($clr-grey, 0.07);
                    color: $clr-black;

                    & > i {
                        color: $clr-text;
                    }
                }

                &:focus {
                    box-shadow: 0 0 0 1px rgba($clr-grey, 0.2);
                }
            }
        }

        & > .post-comment {
            margin-top: 1rem;
            background-color: darken($clr-light-accent, 2%);
            border-radius: 1.3rem;
            padding: 0.2rem;

            & > div {
                & > img {
                    min-width: 2.2rem;
                    min-height: 2.2rem;
                    max-width: 2.2rem;
                    max-height: 2.2rem;
                    object-fit: cover;
                }

                & > input {
                    border: none;
                    width: 100%;
                    font-size: 0.9rem;
                    color: $clr-text;
                    background: transparent;
                    border-radius: 0.5rem;
                    padding: 0 0.75rem;

                    //TODO: When this is focused, scale up the size of img
                }

                & > button {
                    background: transparent;
                    border: none;
                    color: $clr-grey;
                    padding: 0 0.7rem;
                    border-radius: 50%;
                    font-size: 0.95rem;
                    transition: font-size ease-out 250ms;

                    &:focus,
                    &:hover {
                        color: $clr-black;
                        background: rgba($clr-grey, 0.1);
                    }

                    &:active {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }

    @keyframes slideInFromRight {
        0% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
}

.show {
    display: block !important;
            transition: display ease-in-out 200ms;
}

.parent-comment {
    & > .comment {
        margin-left: 0 !important;
        border:none !important;
        padding-left:0 !important;
    }
}
.each-comment {
    .comment {
        padding-top: 1rem;
        line-height: 1.2rem;
        margin-left: -1.75rem;
        padding-left:1rem;
        border-left:.1rem rgba($clr-grey, 0.15) solid;

        @media(max-width:1200px) {
            margin-left:-2.25rem;
        }

        & > div {
            width:100%;
        }
        .content {
            margin-left: 0.5em;
            display: inline-block;
            min-width: 35%;
            background-color: rgba($clr-grey, 0.1);
            border-radius: 1rem;
            padding: 0.5rem 0.75rem;

            & > h6 {
                color: rgba($clr-text, 0.75);
                font-weight: 500;
                font-size: 0.8rem;
            }

            & > p {
                margin-top: 0.25rem;
                font-size: 0.9rem;
                line-height: 1.325rem;
            }
        }

        .comment-options{
            margin-top: .25rem;
            & > button {
                font-size:0.8rem;
                background:transparent;
                border:none;
                color:$clr-text;
                margin-right:.125rem;
                border-radius: .5rem;
                padding:.25rem .5rem;
                & > i {
                    color:$clr-grey;
                    margin-right:.25rem;
                }
                &:hover,
                &:focus {
                    background-color: rgba($clr-grey, 0.07);
                    color: $clr-black;

                    & > i {
                        color: $clr-text;
                    }
                }

                &:focus {
                    box-shadow: 0 0 0 1px rgba($clr-grey, 0.2);
                }
            }

            & > .comment-actions {
                margin-left: .5rem;
                & > i {
                    margin:0;
                    vertical-align: middle;
                }
            }
        }

        .timesince {
            font-size: 0.75rem;
            color: rgba($clr-text, 0.75);
            margin-left: 0.25rem;
        }

        .post-comment {
            margin-top: .25rem;
            margin-left: .5rem;
            width:80%;
            max-width:20rem;
            display:none;

            & > div {
                background-color: darken($clr-light-accent, 2%);
                border-radius: 1.3rem;

                & > input {
                    border: none;
                    width: 100%;
                    font-size: 0.9rem;
                    color: $clr-text;
                    background: transparent;
                    border-radius: 0.5rem;
                    padding: .5rem 0.75rem;
                    
                }

                & > button {
                    background: transparent;
                    border: none;
                    color: $clr-grey;
                    padding: 0 0.7rem;
                    border-radius: 50%;
                    font-size: 0.95rem;
                    transition: font-size ease-out 250ms;

                    &:focus,
                    &:hover {
                        color: $clr-black;
                        background: rgba($clr-grey, 0.1);
                    }

                    &:active {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
    .avatar {
        width: 2rem;
        height: 2rem;
        margin-top: 0.075rem;
    }
}

.rightsidebar {
    padding: 0 1rem;

    & > .card > h6 {
        margin-bottom: 1rem;
        margin-top: 0.25rem;
        font-size: 0.9rem;
        letter-spacing: 0.03rem;
        font-weight: 600;
    }

    .user {
        border-radius: 0.5rem;
        padding: 0.5rem;
        gap: 0.75rem;
        margin: 0.25rem -0.5rem;

        img {
            min-width: 2.5rem;
            min-height: 2.5rem;
            max-width: 2.5rem;
            max-height: 2.5rem;
            object-fit: cover;
        }

        div {
            vertical-align: middle;

            span {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: block;
                max-width: 20ch;
                font-size: 0.8rem;
                color: $clr-grey;
                margin-top: 0.125rem;
                line-height: 1rem;
            }
            h6 {
                font-size: 0.9rem;
                font-weight: 600;
                letter-spacing: 0.03rem;
                line-height: 1.6rem;
                color: $clr-black;

                a {
                    color: $clr-black;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            button {
                margin-top: 0.5rem;
                margin-right: 0.75rem;
                transform: scale(0.95);
            }
        }
    }

    .back-hover:hover {
        background-color: $clr-light-accent;
    }
}

.friends .timeline .card {
    & > h6 {
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 0.03rem;
        line-height: 1.6rem;
        color: $clr-black;
        margin-bottom: 1rem;
    }
}

.friendlistitem {
    margin: 1rem 0;
    gap: 1rem;

    img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
    }

    h6 {
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 0.03rem;
        line-height: 1.6rem;
        a {
            color: $clr-black;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    span {
        font-size: 0.8rem;
        line-height: 1.2rem;
        display: block;
        margin-top: 0.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.sorry {
    text-align: center;
    font-size: 1.6rem;
    font-family: "Poppins";
    margin: 4rem 1rem;
    line-height: 3rem;
}

@media (max-width: 992px) {
    body {
        background-color: $clr-light-accent;
        background-image: none;
    }
    .container {
        padding: 0;
    }
    .leftsidebar,
    .rightsidebar {
        display: none;
        // The plan is make a bottom bar with key navigations
    }
    .timeline .post .post-actions {
        gap: 0.5rem;
        button > i {
            margin-right: 0.35rem;
        }
    }
}
