@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@400;500;600;700;900&display=swap");
:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

html {
  font-size: 16.5px;
}

@media (max-width: 992px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: auto;
  line-height: 2rem;
  background-color: #131314;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #131314), color-stop(60%, #1e1e26));
  background-image: linear-gradient(to right, #131314 50%, #1e1e26 60%);
  color: #dcdcdc;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Noto Sans", "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

a {
  color: #0075ff;
  text-decoration: none;
}

button:focus,
input:focus {
  outline: none;
}

.btn-light-accent {
  color: #0075ff !important;
}

.btn-light-accent i {
  color: #0075ff !important;
}

.row {
  --bs-gutter-x: 0;
}

.g-3 {
  --bs-gutter-x: 1rem;
}

.form-label {
  color: #dcdcdc;
}

.form-control {
  background: rgba(30, 30, 38, 0.4);
  color: #ffffff;
  border: 0.1rem solid rgba(138, 138, 148, 0.3);
  border-radius: 0.75rem;
  padding: 0.6em 1em;
}

.form-control:focus {
  background: #131314;
  color: #ffffff;
  border-color: #0075ff;
  outline: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.dropdown-menu {
  background-color: #1b1b1e;
  color: #dcdcdc;
  padding: 0;
  border-radius: .5rem;
  min-width: 8rem;
}

.dropdown-menu .dropdown-item {
  color: #ffffff;
  font-size: 0.8rem;
  padding: .5rem 1rem;
  font-weight: 600;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
  background-color: #333338;
  border-radius: .5rem;
}

.card {
  background-color: #131314;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0 1.5rem 0;
  border: none;
  -webkit-box-shadow: 0 0 5px 1px rgba(138, 138, 148, 0.05);
          box-shadow: 0 0 5px 1px rgba(138, 138, 148, 0.05);
}

.card-btn {
  margin: -1rem;
  margin-top: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-transform: uppercase;
  font-style: bold;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  font-family: "Poppins";
  font-weight: 600;
  color: #ffffff;
  border: none;
  padding: 0.25rem 0;
  background-color: rgba(30, 30, 38, 0.5);
}

.card-btn:hover {
  background-color: rgba(30, 30, 38, 0.75);
  text-decoration: underline;
}

.btn-outline-success:hover,
.btn-outline-danger:hover {
  color: #ffffff;
}

.text-sm {
  font-size: 0.8rem;
}

.text-sml {
  font-size: 0.9rem;
}

.fw-med {
  font-weight: 500;
}

.form-label {
  font-size: 0.95rem;
}

.card-effect {
  border-radius: 1rem;
  border: 1px rgba(0, 117, 255, 0) solid;
  -webkit-box-shadow: 0 0 100px 20px rgba(0, 117, 255, 0.1);
          box-shadow: 0 0 100px 20px rgba(0, 117, 255, 0.1);
}

.error-bg input,
.error-bg input:focus {
  border-color: rgba(255, 65, 54, 0.6);
}

.btn-light:focus {
  -webkit-box-shadow: 0 0 0 0 #ffffff;
          box-shadow: 0 0 0 0 #ffffff;
}

.btn {
  border-radius: 0.75rem;
}

.slim-loading-bar {
  height: 0.15rem;
  width: 100%;
  background-color: #2a2a72;
  background-image: -webkit-gradient(linear, left top, right top, from(#009ffd), color-stop(50%, #2a2a72), to(#009ffd));
  background-image: linear-gradient(90deg, #009ffd 0%, #2a2a72 50%, #009ffd 100%);
  border-radius: 10rem;
  -webkit-animation: bg-animation infinite 1.5s alternate;
          animation: bg-animation infinite 1.5s alternate;
  background-size: 200%;
  margin-top: 0.5rem;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.bg-social-icons {
  -webkit-box-shadow: inset 0 0 4rem 1rem rgba(30, 30, 38, 0.7);
          box-shadow: inset 0 0 4rem 1rem rgba(30, 30, 38, 0.7);
  position: relative;
  background: #1e1e26 url(../src/assets/images/bg-4.png);
  background-size: 250px;
  z-index: 1;
}

.bg-social-icons::before {
  content: "";
  position: absolute;
  background-color: rgba(30, 30, 38, 0.5);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.home {
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: #1e1e26;
}

.home .intro-panel {
  margin: 0rem 1rem 2rem;
}

.home .intro-panel .logo {
  width: 300px;
  margin: 2rem 0;
  max-width: 75%;
}

.home .intro-panel h2 {
  margin: 0.5em 0 1em 0;
  line-height: 2.5rem;
  font-weight: 400;
  color: #dcdcdc;
  letter-spacing: 0.03rem;
}

.home .intro-panel p {
  font-family: "Poppins";
  font-weight: 300;
  letter-spacing: 0.01rem;
  color: rgba(255, 255, 255, 0.7);
}

.home .intro-panel p b {
  font-weight: 500;
  border-bottom: 0.1rem #0075ff solid;
  letter-spacing: 0.03rem;
  padding: 0 0.1rem;
  color: #ffffff;
}

.signup {
  margin: 1rem;
  line-height: 1.6rem;
}

.signup > .card {
  padding: 1.5rem;
}

@media (max-width: 1200px) {
  .signup > .card {
    padding: 1rem;
  }
}

.signup .row {
  margin-top: 0rem;
}

.signup .tos-text-signup {
  background-color: rgba(30, 30, 38, 0.5);
  text-align: center;
  font-weight: 500;
  border-radius: 0 0 1rem 1rem;
  margin: -1.55rem;
  margin-top: 1rem;
  line-height: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  padding: 1em;
}

.signup .tos-text-signup a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .signup .tos-text-signup {
    margin: -1.05rem;
    margin-top: 1rem;
  }
}

.signup h3 {
  font-weight: 500;
  margin: 0.3em 0 0.5rem;
}

.signup .form-label {
  margin-bottom: 0.2rem;
  font-size: 0.85rem;
}

.signup .btn-signup {
  width: 100%;
  margin: 1rem 0;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.75rem;
}

.signup .choose-avatar {
  text-align: left;
  color: #8a8a94;
}

.signup .choose-avatar > i {
  margin-right: 0.5rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
}

.signup .choose-avatar:focus {
  border-color: #0075ff;
  background-color: #131314;
  color: #ffffff;
}

.login {
  padding: 0 1rem;
  background-color: #1e1e26;
}

.login h3 {
  font-weight: 600;
  margin: 0.25em 0 0.5rem;
}

.login > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  line-height: 1.6rem;
}

.login > div .logo {
  width: 250px;
  padding: 0rem 0.5rem;
  margin-bottom: 3rem;
}

.login > div .form-label {
  margin-top: 1rem;
}

.login > div button {
  width: 100%;
  margin: 1.2rem 0 1.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.75rem;
}

.navbar {
  background: #131314;
  border-bottom: 1px rgba(138, 138, 148, 0.15) solid;
  -webkit-box-shadow: 0 0 1px 0 rgba(138, 138, 148, 0.1);
          box-shadow: 0 0 1px 0 rgba(138, 138, 148, 0.1);
  padding: 0.4rem 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar > .container > .row {
  text-align: start;
}

.navbar > .container > .row > .nav-brand h6 {
  padding: 0 1.5rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
  margin: 0.8rem 0 0 0;
  display: inline-block;
  width: 85%;
}

.navbar > .container > .row > .nav-brand h6 > img {
  max-height: 1.6rem;
  background-color: transparent;
}

.navbar > .container > .row > .nav-brand .navbar-toggler {
  border: 0px;
  padding: 0.8rem;
  margin-top: 0.3rem;
  color: #dcdcdc;
}

.navbar > .container > .row > .nav-brand .navbar-toggler .navbar-toggler-icon {
  background-size: 80%;
}

.navbar > .container > .row > .nav-brand .navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: 0;
}

.navbar > .container > .row .row > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar > .container > .row .row > div > form {
  border: 1px rgba(138, 138, 148, 0.1) solid;
  border-radius: 0.5rem;
  background-color: #1e1e26;
  font-size: 0.8rem;
  margin: 0.5rem 1.5rem;
}

@media (max-width: 992px) {
  .navbar > .container > .row .row > div > form {
    margin-top: 1rem;
  }
}

.navbar > .container > .row .row > div > form input {
  border: 0px;
  background: transparent;
  color: #ffffff;
  padding: 0 0.6rem;
  width: 100%;
  -webkit-transition: background-color ease-out 250ms;
  transition: background-color ease-out 250ms;
}

.navbar > .container > .row .row > div > form input:focus {
  outline: 0;
  background-color: rgba(138, 138, 148, 0.05);
}

.navbar > .container > .row .row > div > form button {
  border: 0px;
  background-color: transparent;
  padding: 0 0.7rem;
  max-height: 2rem;
  color: #8a8a94;
  font-size: 0.9rem;
  -webkit-transition: color ease-out 250ms, background-color ease-out 250ms;
  transition: color ease-out 250ms, background-color ease-out 250ms;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.navbar > .container > .row .row > div > form button:focus, .navbar > .container > .row .row > div > form button:hover {
  outline: 0;
  color: #ffffff;
}

.navbar > .container > .row .row > div > form button:focus {
  background-color: rgba(255, 255, 255, 0.08);
}

.navbar > .container > .row .row > div .collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar > .container > .row .row > div ul > li {
  font-size: 0.9rem;
  padding: 0 1.5rem;
  margin: 0.5rem 0;
}

.navbar > .container > .row .row > div ul > li button {
  color: #dcdcdc;
  position: relative;
  background-color: transparent;
  border: none;
}

.navbar > .container > .row .row > div ul > li button i {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.navbar > .container > .row .row > div ul > li button::after {
  content: "";
  display: block;
  height: 1px;
  width: 0px;
  background-color: #131314;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: width ease-in-out 250ms, background-color ease-in-out 250ms;
  transition: width ease-in-out 250ms, background-color ease-in-out 250ms;
}

.navbar > .container > .row .row > div ul > li button:hover, .navbar > .container > .row .row > div ul > li button:focus {
  color: #ffffff;
}

.navbar > .container > .row .row > div ul > li button:hover::after, .navbar > .container > .row .row > div ul > li button:focus::after {
  background-color: #ffffff;
  width: 100%;
}

.navbar-spacer {
  padding-top: 4.035rem;
}

.leftsidebar {
  width: inherit;
  max-width: 19.75rem;
  height: 100vh;
  position: fixed;
  padding: 0 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.leftsidebar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* Chrome/Safari/Webkit */
}

.leftsidebar .user {
  margin: 1rem 0;
  background-color: #1e1e26;
  border: 1px rgba(138, 138, 148, 0.1) solid;
  border-radius: 0.8rem;
  padding: 0.7rem 0.5rem;
  gap: 0.5rem;
}

.leftsidebar .user img {
  min-width: 2rem;
  min-height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.leftsidebar .user div {
  width: 80%;
  max-width: 25ch;
}

.leftsidebar .user div span,
.leftsidebar .user div h6 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.leftsidebar .user div h6 {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  color: #ffffff;
}

.leftsidebar .user div span {
  font-size: 0.8rem;
  color: #8a8a94;
  line-height: 1.2rem;
}

.leftsidebar > .navigation {
  margin: 1rem 0;
}

.leftsidebar > .navigation > button,
.leftsidebar > .navigation a {
  display: inline-block;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: start;
  border-radius: 0.5rem;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.85rem;
  letter-spacing: 0.03rem;
  padding: 0.2rem 1rem;
  margin: 0.4rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color ease-in-out 250ms;
  transition: color ease-in-out 250ms;
}

.leftsidebar > .navigation > button > i,
.leftsidebar > .navigation a > i {
  margin-right: 1rem;
  color: #8a8a94;
  font-size: 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  -webkit-transition: color ease-in-out 250ms;
  transition: color ease-in-out 250ms;
}

.leftsidebar > .navigation > button:hover,
.leftsidebar > .navigation a:hover {
  color: #0075ff;
}

.leftsidebar > .navigation > button:hover > i,
.leftsidebar > .navigation a:hover > i {
  color: #0075ff;
}

.leftsidebar > .navigation > button:focus,
.leftsidebar > .navigation a:focus {
  background-color: rgba(138, 138, 148, 0.08);
}

.leftsidebar > .navigation > .active {
  color: #0075ff !important;
  -webkit-box-shadow: 10px 7px 15px -1px #15151a;
          box-shadow: 10px 7px 15px -1px #15151a;
  background-color: #1e1e26;
}

.leftsidebar > .navigation > .active > i {
  color: #0075ff !important;
}

.leftsidebar > .about {
  margin-top: 3rem;
}

.leftsidebar > .about h6 {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: #8a8a94;
  margin: 2rem 0 1rem 0;
}

.leftsidebar > .about p {
  line-height: 1.5rem;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.leftsidebar > .about .techs a {
  display: table;
  color: #ffffff;
  margin: 0.5rem 0.5em;
  font-family: "Poppins";
  font-size: 0.85rem;
  font-weight: 500;
  position: relative;
}

.leftsidebar > .about .techs a::after {
  content: "";
  display: block;
  height: 1px;
  width: 0px;
  background-color: #131314;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: width ease-in-out 250ms, background-color ease-in-out 250ms;
  transition: width ease-in-out 250ms, background-color ease-in-out 250ms;
}

.leftsidebar > .about .techs a:hover {
  color: #ffffff;
}

.leftsidebar > .about .techs a:hover::after {
  background-color: #ffffff;
  width: 100%;
}

.leftsidebar > .about .techs a .python {
  color: #646464;
}

.leftsidebar > .about .techs a .reactjs {
  color: #61dbfb;
}

.leftsidebar > .about .techs a .sql {
  color: #008bb9;
}

.leftsidebar > .about .techs a .faw {
  color: #339af0;
}

.leftsidebar > .about .techs a .bts {
  color: purple;
}

.leftsidebar > .about .techs a > i {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  color: #8a8a94;
}

@media (max-width: 1400px) {
  .leftsidebar {
    max-width: 17rem;
  }
}

@media (max-width: 1200px) {
  .leftsidebar {
    max-width: 14.15rem;
  }
}

.timeline {
  background-color: #1e1e26;
  padding: 0 1rem;
  min-height: 100vh;
}

.timeline > .create-post {
  background-color: #131314;
  border-radius: 1rem;
  padding: 1rem 1rem 0 1rem;
  margin: 1rem 0 1.5rem 0;
}

.timeline > .create-post > h6 {
  margin-bottom: 1rem;
  font-size: 0.85rem;
  font-weight: 500;
}

.timeline > .create-post > .d-flex > img {
  min-width: 2.5rem;
  min-height: 2.5rem;
  max-width: 2.5rem;
  max-height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 0.25rem;
}

.timeline > .create-post > .d-flex > textarea {
  width: 100%;
  max-height: 10rem;
  border: none;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #131314;
  color: #ffffff;
  letter-spacing: 0.02rem;
  font-size: 0.9rem;
  line-height: 1.6rem;
  -webkit-transition: background-color ease-in-out 250ms;
  transition: background-color ease-in-out 250ms;
  border-radius: 1rem;
  min-height: 3rem;
  resize: none;
}

.timeline > .create-post > .d-flex > textarea:focus, .timeline > .create-post > .d-flex > textarea:hover {
  outline: none;
  background-color: rgba(138, 138, 148, 0.15);
}

.timeline > .create-post > .d-flex > button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1.4rem;
  width: 3rem;
  height: 3rem;
  color: #8a8a94;
  border-radius: 50%;
  -webkit-transition: background-color ease-in-out 250ms, color ease-in-out 250ms;
  transition: background-color ease-in-out 250ms, color ease-in-out 250ms;
}

.timeline > .create-post > .d-flex > button > i {
  width: inherit;
  height: inherit;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.timeline > .create-post > .d-flex > button:focus, .timeline > .create-post > .d-flex > button:hover {
  color: #ffffff;
  background-color: rgba(138, 138, 148, 0.2);
  outline: none;
}

.timeline > .create-post > .submit-btn {
  margin: 0.75rem 0 0 2.85rem;
  padding: 0.25rem;
  max-height: 0rem;
  opacity: 0;
  overflow-y: hidden;
  -webkit-transition: max-height ease-out 350ms, opacity ease-out 350ms;
  transition: max-height ease-out 350ms, opacity ease-out 350ms;
}

.timeline > .create-post > .submit-btn button {
  margin-bottom: 1rem;
}

.timeline > .create-post > .submit-btn span {
  vertical-align: top;
  margin: 0 1rem;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
}

.timeline > .create-post .show-btn {
  opacity: 1;
  max-height: 3.5rem;
}

.timeline .post {
  -webkit-animation: 0.5s ease-out 0s 1 slideInFromRight forwards;
          animation: 0.5s ease-out 0s 1 slideInFromRight forwards;
}

.timeline .post > .user {
  border-radius: 0.8rem;
  gap: 0.75rem;
}

.timeline .post > .user img {
  min-width: 2.5rem;
  min-height: 2.5rem;
  max-width: 2.5rem;
  max-height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.timeline .post > .user div {
  width: 100%;
  vertical-align: middle;
}

.timeline .post > .user div span,
.timeline .post > .user div h6 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.timeline .post > .user div h6 {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  color: #ffffff;
  margin-top: 0.25rem;
}

.timeline .post > .user div span {
  font-size: 0.8rem;
  color: #8a8a94;
  margin-top: 0.25rem;
  line-height: 1rem;
}

.timeline .post > .user a {
  color: #8a8a94;
  min-width: 2.5rem;
  height: 2.5rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 50%;
  -webkit-transition: background-color ease-out 250ms;
  transition: background-color ease-out 250ms;
}

.timeline .post > .user a > i {
  height: 1rem;
  width: 1rem;
}

.timeline .post > .user a:hover {
  color: #ffffff;
  background-color: rgba(138, 138, 148, 0.2);
}

.timeline .post > p {
  margin: 1rem 0;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.timeline .post > .post-picture {
  background-color: rgba(138, 138, 148, 0.05);
  min-height: 10rem;
  max-height: 35rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.timeline .post > .post-actions {
  gap: 1.5rem;
  margin-top: 1rem;
  border-top: 1px rgba(138, 138, 148, 0.07) solid;
  padding: 1rem 0 0 0;
}

.timeline .post > .post-actions button {
  background-color: transparent;
  border: none;
  color: #dcdcdc;
  text-align: start;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  white-space: nowrap;
}

.timeline .post > .post-actions button > i {
  color: #8a8a94;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.timeline .post > .post-actions button:hover, .timeline .post > .post-actions button:focus {
  background-color: rgba(138, 138, 148, 0.07);
  color: #ffffff;
}

.timeline .post > .post-actions button:hover > i, .timeline .post > .post-actions button:focus > i {
  color: #dcdcdc;
}

.timeline .post > .post-actions button:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(138, 138, 148, 0.2);
          box-shadow: 0 0 0 1px rgba(138, 138, 148, 0.2);
}

.timeline .post > .post-comment {
  margin-top: 1rem;
  background-color: #191920;
  border-radius: 1.3rem;
  padding: 0.2rem;
}

.timeline .post > .post-comment > div > img {
  min-width: 2.2rem;
  min-height: 2.2rem;
  max-width: 2.2rem;
  max-height: 2.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.timeline .post > .post-comment > div > input {
  border: none;
  width: 100%;
  font-size: 0.9rem;
  color: #dcdcdc;
  background: transparent;
  border-radius: 0.5rem;
  padding: 0 0.75rem;
}

.timeline .post > .post-comment > div > button {
  background: transparent;
  border: none;
  color: #8a8a94;
  padding: 0 0.7rem;
  border-radius: 50%;
  font-size: 0.95rem;
  -webkit-transition: font-size ease-out 250ms;
  transition: font-size ease-out 250ms;
}

.timeline .post > .post-comment > div > button:focus, .timeline .post > .post-comment > div > button:hover {
  color: #ffffff;
  background: rgba(138, 138, 148, 0.1);
}

.timeline .post > .post-comment > div > button:active {
  font-size: 1.1rem;
}

@-webkit-keyframes slideInFromRight {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.show {
  display: block !important;
  -webkit-transition: display ease-in-out 200ms;
  transition: display ease-in-out 200ms;
}

.parent-comment > div > .comment {
  margin-left: 0 !important;
  border: none !important;
  padding-left: 0 !important;
  padding-top: 1rem;
}

@media (max-width: 1200px) {
  .parent-comment > div > .comment {
    margin-left: 0 !important;
  }
}

.each-comment .comment {
  padding-top: .5rem;
  line-height: 1.2rem;
  margin-left: -2rem;
  padding-left: .75rem;
  border-left: 0.1rem rgba(138, 138, 148, 0.15) solid;
}

@media (max-width: 1200px) {
  .each-comment .comment {
    margin-left: -2.0rem;
  }
}

.each-comment .comment > div {
  width: 100%;
}

.each-comment .comment .content {
  margin-left: 0.5em;
  display: inline-block;
  min-width: 35%;
  background-color: rgba(138, 138, 148, 0.1);
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
}

.each-comment .comment .content > h6 {
  color: rgba(220, 220, 220, 0.75);
  font-weight: 500;
  font-size: 0.8rem;
}

.each-comment .comment .content > p {
  margin-top: 0.25rem;
  font-size: 0.9rem;
  line-height: 1.325rem;
}

.each-comment .comment .comment-options {
  margin-top: 0.25rem;
  margin-left: .5rem;
}

.each-comment .comment .comment-options .dropright {
  display: inline-block;
}

.each-comment .comment .comment-options > button, .each-comment .comment .comment-options .comment-actions {
  font-size: 0.8rem;
  background: transparent;
  border: none;
  color: #dcdcdc;
  margin-right: 0.125rem;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.each-comment .comment .comment-options > button > i, .each-comment .comment .comment-options .comment-actions > i {
  color: #8a8a94;
  margin-right: 0.25rem;
}

.each-comment .comment .comment-options > button:hover, .each-comment .comment .comment-options > button:focus, .each-comment .comment .comment-options .comment-actions:hover, .each-comment .comment .comment-options .comment-actions:focus {
  background-color: rgba(138, 138, 148, 0.07);
  color: #ffffff;
}

.each-comment .comment .comment-options > button:hover > i, .each-comment .comment .comment-options > button:focus > i, .each-comment .comment .comment-options .comment-actions:hover > i, .each-comment .comment .comment-options .comment-actions:focus > i {
  color: #dcdcdc;
}

.each-comment .comment .comment-options > button:focus, .each-comment .comment .comment-options .comment-actions:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(138, 138, 148, 0.2);
          box-shadow: 0 0 0 1px rgba(138, 138, 148, 0.2);
}

.each-comment .comment .comment-options .comment-actions {
  margin-left: 0.5rem;
}

.each-comment .comment .comment-options .comment-actions > i {
  margin: 0;
  vertical-align: middle;
}

.each-comment .comment .timesince {
  font-size: 0.75rem;
  color: rgba(220, 220, 220, 0.75);
  margin-left: 0.25rem;
}

.each-comment .comment .post-comment {
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  width: 80%;
  max-width: 20rem;
  display: none;
}

.each-comment .comment .post-comment > div {
  background-color: #191920;
  border-radius: 1.3rem;
}

.each-comment .comment .post-comment > div > input {
  border: none;
  width: 100%;
  font-size: 0.9rem;
  color: #dcdcdc;
  background: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.each-comment .comment .post-comment > div > button {
  background: transparent;
  border: none;
  color: #8a8a94;
  padding: 0 0.7rem;
  border-radius: 50%;
  font-size: 0.95rem;
  -webkit-transition: font-size ease-out 250ms;
  transition: font-size ease-out 250ms;
}

.each-comment .comment .post-comment > div > button:focus, .each-comment .comment .post-comment > div > button:hover {
  color: #ffffff;
  background: rgba(138, 138, 148, 0.1);
}

.each-comment .comment .post-comment > div > button:active {
  font-size: 1.1rem;
}

.each-comment .avatar {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 2rem;
  min-height: 2rem;
  margin-top: 0.075rem;
}

.rightsidebar {
  padding: 0 1rem;
}

.rightsidebar > .card > h6 {
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
  font-weight: 600;
}

.rightsidebar .user {
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 0.75rem;
  margin: 0.25rem -0.5rem;
}

.rightsidebar .user img {
  min-width: 2.5rem;
  min-height: 2.5rem;
  max-width: 2.5rem;
  max-height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.rightsidebar .user div {
  vertical-align: middle;
}

.rightsidebar .user div span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  max-width: 20ch;
  font-size: 0.8rem;
  color: #8a8a94;
  margin-top: 0.125rem;
  line-height: 1rem;
}

.rightsidebar .user div h6 {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  line-height: 1.6rem;
  color: #ffffff;
}

.rightsidebar .user div h6 a {
  color: #ffffff;
}

.rightsidebar .user div h6 a:hover {
  text-decoration: underline;
}

.rightsidebar .user div button {
  margin-top: 0.5rem;
  margin-right: 0.75rem;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.rightsidebar .back-hover:hover {
  background-color: #1e1e26;
}

.friends .timeline .card > h6 {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  line-height: 1.6rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.friendlistitem {
  margin: 1rem 0;
  gap: 1rem;
}

.friendlistitem img {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.friendlistitem h6 {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  line-height: 1.6rem;
}

.friendlistitem h6 a {
  color: #ffffff;
}

.friendlistitem h6 a:hover {
  text-decoration: underline;
}

.friendlistitem span {
  font-size: 0.8rem;
  line-height: 1.2rem;
  display: block;
  margin-top: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sorry {
  text-align: center;
  font-size: 1.6rem;
  font-family: "Poppins";
  margin: 4rem 1rem;
  line-height: 3rem;
}

@media (max-width: 992px) {
  body {
    background-color: #1e1e26;
    background-image: none;
  }
  .container {
    padding: 0;
  }
  .leftsidebar,
  .rightsidebar {
    display: none;
  }
  .timeline .post .post-actions {
    gap: 0.5rem;
  }
  .timeline .post .post-actions button > i {
    margin-right: 0.35rem;
  }
}
/*# sourceMappingURL=styles.css.map */