@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@400;500;600;700;900&display=swap");
:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --rgb-grey: 138, 138, 148;
  --rgb-accent: 0, 117, 255;
  --clr-accent: rgb(var(--rgb-accent));
  --clr-grey: rgb(var(--rgb-grey));
  --rgb-white: 255, 255, 255;
  --rgb-text: 81, 81, 92;
  --rgb-black: 0, 0, 0;
  --rgb-light-accent: 238, 242, 245;
  --rgb-light-accent-darkened: 234, 238, 242;
  --clr-white: rgb(var(--rgb-white));
  --clr-text: rgb(var(--rgb-text));
  --clr-black: rgb(var(--rgb-black));
  --clr-light-accent: rgb(var(--rgb-light-accent));
  --clr-light-accent-darkened: rgb(var(--rgb-light-accent-darkened));
}

.darkmode {
  --rgb-white: 19, 19, 20;
  --rgb-text: 220, 220, 220;
  --rgb-black: 255, 255, 255;
  --rgb-light-accent: 30, 30, 37;
  --rgb-light-accent-darkened: 25, 25, 32;
  --clr-white: rgb(var(--rgb-white));
  --clr-text: rgb(var(--rgb-text));
  --clr-black: rgb(var(--rgb-black));
  --clr-light-accent: rgb(var(--rgb-light-accent));
  --clr-light-accent-darkened: rgb(var(--rgb-light-accent-darkened));
}

html {
  font-size: 17px;
}

@media (max-width: 992px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: auto;
  line-height: 2rem;
  background-color: var(--clr-white);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--clr-white)), color-stop(60%, var(--clr-light-accent)));
  background-image: linear-gradient(to right, var(--clr-white) 50%, var(--clr-light-accent) 60%);
  color: var(--clr-text);
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", "Noto Sans", "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--clr-accent);
  text-decoration: none;
}

a:focus {
  text-decoration: underline;
  outline: none;
}

button:focus,
input:focus {
  outline: none;
}

img {
  line-height: 1;
  font-size: 0.8rem;
  color: var(--clr-grey);
}

.darkmode-toggle {
  background-color: var(--clr-light-accent);
  display: inline-block;
  border-radius: 50px;
  width: 3rem;
  height: 2rem;
  font-size: 0.8rem;
  line-height: 1.8rem;
  position: relative;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(var(--rgb-light-accent-darkened), 0.2);
          box-shadow: 0 0 0.5rem 0.1rem rgba(var(--rgb-light-accent-darkened), 0.2);
  border: 0.1rem solid rgba(var(--rgb-grey), 0.3);
  cursor: pointer;
}

.darkmode-toggle button {
  width: 1.6rem;
  height: 1.6rem;
  border: none;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  border-radius: 50px;
  padding: 0;
  position: absolute;
  margin: 0 0.1rem;
  top: 0.1rem;
  left: 0;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.darkmode-toggle .enabled {
  left: 1rem;
}

.darkmode-toggle:hover button {
  background-color: #66acff;
}

.btn-light-accent {
  color: var(--clr-accent) !important;
}

.btn-light-accent i {
  color: var(--clr-accent) !important;
}

.row {
  --bs-gutter-x: 0;
}

.g-3 {
  --bs-gutter-x: 1rem;
}

.form-label {
  color: var(--clr-text);
}

.form-control {
  background: rgba(var(--rgb-light-accent), 0.4);
  color: var(--clr-black);
  border: 0.1rem solid rgba(var(--rgb-grey), 0.3);
  border-radius: 0.75rem;
  padding: 0.6em 1em;
}

.form-control:focus {
  background: var(--clr-white);
  color: var(--clr-black);
  border-color: var(--clr-accent);
  outline: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.dropdown-menu {
  background-color: var(--clr-white);
  color: var(--clr-text);
  border: 1px solid rgba(var(--rgb-grey), 0.15);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 0.5rem 0.25rem var(--clr-light-accent);
          box-shadow: 0 0 0.5rem 0.25rem var(--clr-light-accent);
  min-width: 8rem;
  padding: 0.5rem;
}

.dropdown-menu .dropdown-item {
  color: rgba(var(--rgb-black), 0.9);
  font-size: 0.8rem;
  padding: 0.3rem .75rem;
  font-weight: 500;
  line-height: 1.4rem;
  border-radius: .5rem;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
  background-color: rgba(var(--rgb-grey), 0.15);
}

.card {
  background-color: var(--clr-white);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0 1.5rem 0;
  border: none;
  -webkit-box-shadow: 0 0 5px 1px rgba(var(--rgb-grey), 0.05);
          box-shadow: 0 0 5px 1px rgba(var(--rgb-grey), 0.05);
}

.card-btn {
  margin: -1rem;
  margin-top: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-transform: uppercase;
  font-style: bold;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  font-family: "Poppins";
  font-weight: 600;
  text-align: center;
  color: var(--clr-black);
  border: none;
  padding: 0.25rem 0;
  background-color: rgba(var(--rgb-light-accent), 0.55);
}

.card-btn a {
  color: #000;
}

.card-btn:hover {
  text-decoration: underline;
  color: var(--clr-text);
}

.btn-outline-success:hover,
.btn-outline-danger:hover {
  color: #ffffff;
}

.text-sm {
  font-size: 0.8rem;
}

.text-sml {
  font-size: 0.9rem;
}

.fw-med {
  font-weight: 500;
}

.form-label {
  font-size: 0.95rem;
}

.card-effect {
  border-radius: 1rem;
  border: 1px rgba(var(--rgb-accent), 0) solid;
  -webkit-box-shadow: 0 0 100px 20px rgba(var(--rgb-accent), 0.1);
          box-shadow: 0 0 100px 20px rgba(var(--rgb-accent), 0.1);
}

.error-bg input,
.error-bg input:focus {
  border-color: rgba(255, 65, 54, 0.6);
}

.btn-light:focus {
  -webkit-box-shadow: 0 0 0 0 #ffffff;
          box-shadow: 0 0 0 0 #ffffff;
}

.btn {
  border-radius: 0.75rem;
}

.modal-content {
  background: var(--clr-white);
  color: var(--clr-text);
}

.modal-content .form-label {
  margin: 1rem 0 0 0;
  color: var(--clr-text);
  font-size: 0.85rem;
}

.modal-content button {
  text-align: start;
}

.modal-footer {
  border-top: 1px solid var(--clr-light-accent);
}

.slim-loading-bar {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.8em solid rgba(var(--rgb-black), 0.2);
  border-right: 0.8em solid rgba(var(--rgb-black), 0.2);
  border-bottom: 0.8em solid rgba(var(--rgb-black), 0.2);
  border-left: 0.8em solid var(--clr-accent);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.slim-loading-bar::after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.user {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.125rem -0.5rem;
}

.user img {
  min-width: 2.5rem;
  min-height: 2.5rem;
  max-width: 2.5rem;
  max-height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0.75rem;
}

.user div {
  vertical-align: middle;
}

.user div span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  max-width: 28ch;
  font-size: 0.8rem;
  color: var(--clr-grey);
  margin-top: 0.125rem;
  line-height: 1rem;
}

@media (max-width: 1400px) {
  .user div span {
    max-width: 23ch;
  }
}

@media (max-width: 1200px) {
  .user div span {
    max-width: 17ch;
  }
}

.user div h6 {
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  line-height: 1.2rem;
}

.user div h6 a {
  color: rgba(var(--rgb-black), 0.8);
}

.user div h6 a:hover {
  text-decoration: underline;
}

.user div button {
  margin-top: 0.5rem;
  margin-right: 0.75rem;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  border-radius: 0.5rem;
  padding: 0.175em 0.625em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 1200px) {
  .user div button {
    padding: 0.125em 0.25em;
  }
}

.bg-social-icons {
  -webkit-box-shadow: inset 0 0 4rem 1rem rgba(var(--rgb-light-accent), 0.7);
          box-shadow: inset 0 0 4rem 1rem rgba(var(--rgb-light-accent), 0.7);
  position: relative;
  background: var(--clr-light-accent) url(../src/assets/images/bg-4.png);
  background-size: 250px;
  z-index: 1;
}

.bg-social-icons::before {
  content: "";
  position: absolute;
  background-color: rgba(var(--rgb-light-accent), 0.5);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.home {
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: var(--clr-light-accent);
  -webkit-animation: fadeInOut 500ms ease;
          animation: fadeInOut 500ms ease;
  padding: 0 1rem;
}

.home .intro-panel {
  margin-bottom: 2rem;
}

.home .intro-panel .d-flex {
  margin: 2rem 0;
}

.home .intro-panel .d-flex .logo {
  width: 250px;
  max-width: 75%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home .intro-panel .d-flex .th-toggle {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-content: end;
}

.home .intro-panel h2 {
  margin: 0.5em 0 1em 0;
  line-height: 2.5rem;
  font-weight: 400;
  color: var(--clr-text);
  letter-spacing: 0.03rem;
}

.home .intro-panel p {
  font-family: "Poppins";
  font-weight: 300;
  letter-spacing: 0.01rem;
  color: rgba(var(--rgb-black), 0.7);
}

.home .intro-panel p b {
  font-weight: 500;
  border-bottom: 0.1rem var(--clr-accent) solid;
  letter-spacing: 0.03rem;
  padding: 0 0.1rem;
  color: var(--clr-black);
}

.home .center {
  margin: auto;
  padding: 0 1rem;
  -webkit-animation: fadeInOut 500ms ease;
          animation: fadeInOut 500ms ease;
}

.home .center .logo {
  margin: 3rem 0;
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.signup {
  margin: 1rem 0;
  line-height: 1.6rem;
}

@media (min-width: 1200px) {
  .signup {
    margin: 1rem 1rem;
  }
}

.signup > .card {
  padding: 1.5rem;
}

@media (max-width: 1200px) {
  .signup > .card {
    padding: 1rem;
  }
}

.signup .row {
  margin-top: 0rem;
}

.signup .tos-text-signup {
  background-color: rgba(var(--rgb-light-accent), 0.5);
  text-align: center;
  font-weight: 500;
  border-radius: 0 0 1rem 1rem;
  margin: -1.55rem;
  margin-top: 1rem;
  line-height: 1.2rem;
  color: rgba(var(--rgb-black), 0.5);
  font-size: 0.8rem;
  padding: 1em;
}

.signup .tos-text-signup a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .signup .tos-text-signup {
    margin: -1.05rem;
    margin-top: 1rem;
  }
}

.signup h3 {
  font-weight: 500;
  margin: 0.3em 0 0.5rem;
}

.signup .form-label {
  margin-bottom: 0.2rem;
  font-size: 0.85rem;
}

.signup .btn-signup {
  width: 100%;
  margin: 1rem 0 0;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.75rem;
}

.signup .btn-outline-danger {
  padding: 0.3rem;
}

.signup .choose-avatar {
  text-align: left;
  color: var(--clr-grey);
}

.signup .choose-avatar > i {
  margin-right: 0.5rem;
  color: rgba(var(--rgb-black), 0.7);
  font-size: 1rem;
}

.signup .choose-avatar:focus {
  border-color: var(--clr-accent);
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.signup .or {
  color: rgba(var(--rgb-grey), 0.5);
  letter-spacing: 0.1rem;
  font-weight: 300;
  font-family: "Poppins";
  text-align: center;
  margin: 1rem 0;
}

.signup .or::before, .signup .or::after {
  content: "";
  display: inline-block;
  border-top: 1px rgba(var(--rgb-grey), 0.2) solid;
  width: 25%;
  height: 1px;
  margin: 0.25rem 0.5rem;
}

.login {
  padding: 0 1rem;
  background-color: var(--clr-light-accent);
  -webkit-animation: fadeInOut 500ms ease;
          animation: fadeInOut 500ms ease;
}

.login h3 {
  font-weight: 600;
  margin: 0.25em 0 0.5rem;
}

.login > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.6rem;
  min-height: 100vh;
}

.login > div .logo {
  width: 250px;
  padding: 0rem 0.5rem;
  margin: 3rem 0;
}

.login > div .form-label {
  margin-top: 1rem;
}

.login > div .btn-main {
  width: 100%;
  margin: 1.2rem 0 1.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.75rem;
}

.navbar {
  background: var(--clr-white);
  border-bottom: 1px rgba(var(--rgb-grey), 0.15) solid;
  -webkit-box-shadow: 0 0 1px 0 rgba(var(--rgb-grey), 0.1);
          box-shadow: 0 0 1px 0 rgba(var(--rgb-grey), 0.1);
  padding: 0.4rem 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar > .container > .row {
  text-align: start;
}

.navbar > .container > .row > .nav-brand h6 {
  padding: 0 1.5rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
  margin: 0.8rem 0 0 0;
  display: inline-block;
  width: 85%;
}

.navbar > .container > .row > .nav-brand h6 > img {
  max-height: 1.6rem;
  background-color: transparent;
}

@media (max-width: 992px) {
  .navbar > .container > .row > .nav-brand h6 {
    width: 80%;
  }
}

@media (max-width: 540px) {
  .navbar > .container > .row > .nav-brand h6 {
    width: 75%;
  }
}

@media (max-width: 400px) {
  .navbar > .container > .row > .nav-brand h6 {
    width: 70%;
  }
}

.navbar > .container > .row > .nav-brand .navbar-toggler {
  border: 0px;
  padding: 0.8rem;
  margin-top: 0.3rem;
  color: var(--clr-text);
}

.navbar > .container > .row > .nav-brand .navbar-toggler .navbar-toggler-icon {
  background-size: 80%;
}

.navbar > .container > .row > .nav-brand .navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: 0;
}

.navbar > .container > .row .row > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar > .container > .row .row > div > form {
  border: 1px rgba(var(--rgb-grey), 0.1) solid;
  border-radius: 0.5rem;
  background-color: var(--clr-light-accent);
  font-size: 0.8rem;
  margin: 0.5rem 1.5rem;
}

@media (max-width: 992px) {
  .navbar > .container > .row .row > div > form {
    margin-top: 1rem;
  }
}

.navbar > .container > .row .row > div > form input {
  border: 0px;
  background: transparent;
  color: var(--clr-black);
  padding: 0 0.6rem;
  width: 100%;
  -webkit-transition: background-color ease-out 250ms;
  transition: background-color ease-out 250ms;
}

.navbar > .container > .row .row > div > form input:focus {
  outline: 0;
  background-color: rgba(var(--rgb-grey), 0.05);
}

.navbar > .container > .row .row > div > form button {
  border: 0px;
  background-color: transparent;
  padding: 0 0.7rem;
  max-height: 2rem;
  color: var(--clr-grey);
  font-size: 0.9rem;
  -webkit-transition: color ease-out 250ms, background-color ease-out 250ms;
  transition: color ease-out 250ms, background-color ease-out 250ms;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.navbar > .container > .row .row > div > form button:focus, .navbar > .container > .row .row > div > form button:hover {
  outline: 0;
  color: var(--clr-black);
}

.navbar > .container > .row .row > div > form button:focus {
  background-color: rgba(var(--rgb-black), 0.08);
}

.navbar > .container > .row .row > div .collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar > .container > .row .row > div ul > li {
  font-size: 0.9rem;
  padding: 0 0.5rem;
  margin: auto 0.5rem;
  text-align: end;
  line-height: 0;
}

.navbar > .container > .row .row > div ul > li > button,
.navbar > .container > .row .row > div ul > li a {
  color: var(--clr-text);
  position: relative;
  background-color: transparent;
  border: none;
}

.navbar > .container > .row .row > div ul > li > button i,
.navbar > .container > .row .row > div ul > li a i {
  margin-left: 0.25rem;
  font-size: 1rem;
  width: 1rem;
}

.navbar > .container > .row .row > div ul > li > button::after,
.navbar > .container > .row .row > div ul > li a::after {
  content: "";
  display: block;
  height: 1px;
  width: 0px;
  background-color: var(--clr-white);
  position: absolute;
  margin-top: 0.5rem;
  left: 0;
  right: 0;
  -webkit-transition: width ease-in-out 250ms, background-color ease-in-out 250ms;
  transition: width ease-in-out 250ms, background-color ease-in-out 250ms;
}

.navbar > .container > .row .row > div ul > li > button:hover, .navbar > .container > .row .row > div ul > li > button:focus,
.navbar > .container > .row .row > div ul > li a:hover,
.navbar > .container > .row .row > div ul > li a:focus {
  color: var(--clr-black);
  text-decoration: none;
}

.navbar > .container > .row .row > div ul > li > button:hover::after, .navbar > .container > .row .row > div ul > li > button:focus::after,
.navbar > .container > .row .row > div ul > li a:hover::after,
.navbar > .container > .row .row > div ul > li a:focus::after {
  background-color: var(--clr-black);
  width: 100%;
}

.navbar > .container > .row .row > div ul > li .nav-theme-toggler {
  display: inline-block;
  line-height: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-right: 1rem;
}

@media (max-width: 1200px) {
  .navbar > .container > .row .row > div ul li {
    padding: 0;
    margin: 0.5rem;
  }
}

@media (max-width: 992px) {
  .navbar > .container > .row .row > div ul {
    width: 100%;
  }
  .navbar > .container > .row .row > div ul li {
    text-align: start;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
  }
}

.navbar .mobile-notification-icon {
  max-width: 2rem;
  display: inline-block;
  margin: 0 0.5rem;
}

.navbar .notifications {
  max-height: 2rem;
  position: relative;
}

.navbar .notifications .hide {
  display: none;
}

.navbar .notifications .list {
  display: block;
  position: absolute;
  background: var(--clr-white);
  -webkit-box-shadow: 10px 7px 15px -1px var(--clr-light-accent-darkened);
          box-shadow: 10px 7px 15px -1px var(--clr-light-accent-darkened);
  border: 1px rgba(var(--rgb-grey), 0.3) solid;
  border-radius: 0.5rem;
  top: 2.5rem;
  right: 1rem;
  text-align: left;
  z-index: 2;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 992px) {
  .navbar .notifications .list {
    right: -1.5rem;
    top: 3rem;
    max-height: 70vh;
  }
}

.navbar .notifications .dropdown-menu {
  top: 2.5rem;
  right: 0.5rem;
  z-index: 3;
  padding: 0;
}

@media (max-width: 992px) {
  .navbar .notifications .dropdown-menu {
    right: -1.5rem;
  }
}

.navbar .notifications button {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  color: var(--clr-text);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  border-radius: 50%;
}

.navbar .notifications button i {
  font-size: 1.2rem !important;
  margin-left: 0 !important;
}

.navbar .notifications button span {
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  line-height: 0.7rem;
  font-size: 0.8rem;
  background: var(--clr-accent);
  color: #fff;
  padding: 0.15rem 0.175rem 0.05rem;
  border-radius: 0.25rem;
}

.navbar .notifications button:hover, .navbar .notifications button:focus {
  background-color: rgba(var(--rgb-grey), 0.3) !important;
}

.navbar .notifications button:hover::after, .navbar .notifications button:focus::after {
  display: none !important;
}

.navbar .notifications .notif {
  color: var(--clr-text);
  display: block;
  border-bottom: 1px solid var(--clr-white) !important;
  border-top: 1px solid rgba(var(--rgb-grey), 0.15) !important;
  padding: 0.75rem 1rem;
  background-color: rgba(var(--rgb-grey), 0.05) !important;
}

.navbar .notifications .notif:last-child {
  border-bottom: none !important;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.navbar .notifications .notif:first-child {
  border-top: none !important;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.navbar .notifications .notif > div {
  width: 22rem;
  line-height: 1.4rem;
  font-size: 0.9rem;
}

.navbar .notifications .notif > div > i {
  margin-right: 0.5rem;
}

.navbar .notifications .notif > div .uname {
  color: var(--clr-black);
  font-weight: bold;
}

.navbar .notifications .notif > div .when {
  color: var(--clr-grey);
  font-size: 0.75rem;
}

@media (max-width: 992px) {
  .navbar .notifications .notif > div {
    width: 25rem;
  }
}

@media (max-width: 540px) {
  .navbar .notifications .notif > div {
    width: 20rem;
  }
}

@media (max-width: 400px) {
  .navbar .notifications .notif > div {
    width: 15rem;
  }
}

.navbar .notifications .notif:hover, .navbar .notifications .notif:focus {
  background: rgba(var(--rgb-grey), 0.15) !important;
}

.navbar .notifications .notif:hover::after, .navbar .notifications .notif:focus::after {
  display: none !important;
}

.navbar .notifications .seen {
  background: rgba(var(--rgb-grey), 0.2) !important;
}

.align-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: flex-end;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-spacer {
  height: 3.9rem;
}

.leftsidebar {
  width: inherit;
  max-width: 19.25rem;
  height: 100vh;
  position: fixed;
  padding: 0 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.leftsidebar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* Chrome/Safari/Webkit */
}

.leftsidebar .user {
  margin: 1rem 0;
  background-color: rgba(var(--rgb-light-accent), 0.7);
  border: 1px rgba(var(--rgb-grey), 0.1) solid;
  border-radius: 0.8rem;
  padding: 0.7rem 0.5rem;
}

.leftsidebar .user img {
  min-width: 2rem;
  min-height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.leftsidebar .user div {
  width: 80%;
  max-width: 25ch;
}

.leftsidebar .user div span,
.leftsidebar .user div h6 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.leftsidebar .user div span a,
.leftsidebar .user div h6 a {
  color: inherit;
}

.leftsidebar .user div span a:hover,
.leftsidebar .user div h6 a:hover {
  text-decoration: underline;
}

.leftsidebar .user div h6 {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  color: var(--clr-black);
}

.leftsidebar .user div span {
  font-size: 0.8rem;
  color: var(--clr-grey);
  line-height: 1.2rem;
}

.leftsidebar > .navigation {
  margin: 1rem 0;
}

.leftsidebar > .navigation > button,
.leftsidebar > .navigation a {
  display: inline-block;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: start;
  border-radius: 0.5rem;
  color: var(--clr-black);
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.85rem;
  letter-spacing: 0.03rem;
  padding: 0.2rem 1rem;
  margin: 0.4rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.leftsidebar > .navigation > button > i,
.leftsidebar > .navigation a > i {
  margin-right: 1rem;
  color: var(--clr-grey);
  font-size: 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  -webkit-transition: color ease-in-out 250ms;
  transition: color ease-in-out 250ms;
}

.leftsidebar > .navigation > button:hover,
.leftsidebar > .navigation a:hover {
  color: var(--clr-accent);
}

.leftsidebar > .navigation > button:hover > i,
.leftsidebar > .navigation a:hover > i {
  color: var(--clr-accent);
}

.leftsidebar > .navigation > button:focus,
.leftsidebar > .navigation a:focus {
  background-color: rgba(var(--rgb-grey), 0.08);
}

.leftsidebar > .navigation > .active {
  color: var(--clr-accent) !important;
  -webkit-box-shadow: 10px 7px 30px -1px rgba(var(--rgb-light-accent), 0.8);
          box-shadow: 10px 7px 30px -1px rgba(var(--rgb-light-accent), 0.8);
  background-color: var(--clr-light-accent);
}

.leftsidebar > .navigation > .active > i {
  color: var(--clr-accent) !important;
}

.leftsidebar > .about {
  margin-top: 3rem;
}

.leftsidebar > .about h6 {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: var(--clr-grey);
  margin: 2rem 0 1rem 0;
}

.leftsidebar > .about p {
  line-height: 1.5rem;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.leftsidebar > .about .techs a {
  display: table;
  color: var(--clr-black);
  margin: 0.5rem 0.5em;
  font-family: "Poppins";
  font-size: 0.85rem;
  font-weight: 500;
  position: relative;
}

.leftsidebar > .about .techs a::after {
  content: "";
  display: block;
  height: 1px;
  width: 0px;
  background-color: var(--clr-white);
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: width ease-in-out 250ms, background-color ease-in-out 250ms;
  transition: width ease-in-out 250ms, background-color ease-in-out 250ms;
}

.leftsidebar > .about .techs a:hover {
  color: var(--clr-black);
}

.leftsidebar > .about .techs a:hover::after {
  background-color: var(--clr-black);
  width: 100%;
}

.leftsidebar > .about .techs a .python {
  color: #646464;
}

.leftsidebar > .about .techs a .reactjs {
  color: #61dbfb;
}

.leftsidebar > .about .techs a .sql {
  color: #008bb9;
}

.leftsidebar > .about .techs a .faw {
  color: #339af0;
}

.leftsidebar > .about .techs a .bts {
  color: purple;
}

.leftsidebar > .about .techs a > i {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  color: var(--clr-grey);
}

@media (max-width: 1400px) {
  .leftsidebar {
    max-width: 16.5rem;
  }
}

@media (max-width: 1200px) {
  .leftsidebar {
    max-width: 14rem;
  }
}

.timeline {
  background-color: var(--clr-light-accent);
  padding: 0 1rem;
  min-height: 100vh;
}

.timeline > .create-post {
  background-color: var(--clr-white);
  border-radius: 1rem;
  padding: 1rem 1rem 0 1rem;
  margin: 1rem 0 1.5rem 0;
  -webkit-animation: fadeInOut 500ms ease;
          animation: fadeInOut 500ms ease;
}

.timeline > .create-post > h6 {
  margin-bottom: 1rem;
  font-size: 0.85rem;
  font-weight: 500;
}

.timeline > .create-post > .d-flex > img {
  min-width: 2.5rem;
  min-height: 2.5rem;
  max-width: 2.5rem;
  max-height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 0.25rem;
}

.timeline > .create-post > .d-flex > textarea {
  width: 100%;
  max-height: 10rem;
  border: none;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--clr-white);
  color: var(--clr-black);
  letter-spacing: 0.02rem;
  font-size: 0.9rem;
  line-height: 1.6rem;
  border-radius: 1rem;
  min-height: 3rem;
  resize: none;
}

.timeline > .create-post > .d-flex > textarea:focus, .timeline > .create-post > .d-flex > textarea:hover {
  outline: none;
  background-color: rgba(var(--rgb-grey), 0.15);
}

.timeline > .create-post > .d-flex > button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1.4rem;
  width: 3rem;
  height: 3rem;
  color: var(--clr-grey);
  border-radius: 50%;
  -webkit-transition: background-color ease-in-out 250ms, color ease-in-out 250ms;
  transition: background-color ease-in-out 250ms, color ease-in-out 250ms;
}

.timeline > .create-post > .d-flex > button > i {
  width: inherit;
  height: inherit;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.timeline > .create-post > .d-flex > button:focus, .timeline > .create-post > .d-flex > button:hover {
  color: var(--clr-black);
  background-color: rgba(var(--rgb-grey), 0.2);
  outline: none;
}

.timeline > .create-post > .submit-btn {
  margin: 0.75rem 0 0 2.85rem;
  padding: 0.25rem;
  max-height: 0rem;
  opacity: 0;
  overflow-y: hidden;
  -webkit-transition: max-height ease-out 350ms, opacity ease-out 350ms;
  transition: max-height ease-out 350ms, opacity ease-out 350ms;
}

.timeline > .create-post > .submit-btn button {
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.timeline > .create-post > .submit-btn span {
  vertical-align: top;
  margin: 0 1rem;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
}

.timeline > .create-post .show-btn {
  opacity: 1;
  max-height: 3.5rem;
}

.timeline .post {
  -webkit-animation: 0.5s ease-out 0s 1 slideInFromRight forwards;
          animation: 0.5s ease-out 0s 1 slideInFromRight forwards;
}

.timeline .post > .userbar {
  border-radius: 0.8rem;
}

.timeline .post > .userbar img {
  min-width: 2.5rem;
  min-height: 2.5rem;
  max-width: 2.5rem;
  max-height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0.75rem;
}

.timeline .post > .userbar div {
  width: 100%;
  vertical-align: middle;
}

.timeline .post > .userbar div span,
.timeline .post > .userbar div h6 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.timeline .post > .userbar div h6 {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--clr-black);
  margin-top: 0.25rem;
}

.timeline .post > .userbar div h6 a {
  color: var(--clr-black);
}

.timeline .post > .userbar div h6 a:hover {
  text-decoration: underline;
}

.timeline .post > .userbar div span {
  font-size: 0.8rem;
  color: var(--clr-grey);
  margin-top: 0.25rem;
  line-height: 1rem;
}

.timeline .post > .userbar .more-options {
  color: var(--clr-grey);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.timeline .post > .userbar .more-options .post-actions {
  background-color: transparent;
  border: none;
  color: inherit;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-transition: background-color ease-out 250ms;
  transition: background-color ease-out 250ms;
}

.timeline .post > .userbar .more-options .post-actions:hover, .timeline .post > .userbar .more-options .post-actions:focus {
  color: var(--clr-black);
  background-color: rgba(var(--rgb-grey), 0.2);
}

.timeline .post > .userbar .more-options > i {
  height: 1rem;
  width: 1rem;
}

.timeline .post .post-content {
  margin: 1rem 0 0.5rem;
  line-height: 1.5rem;
  font-size: 0.9rem;
  white-space: break-spaces;
}

.timeline .post .url > div {
  border: 1px solid rgba(var(--rgb-grey), 0.2);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
}

.timeline .post .url > div .utitle {
  font-weight: bold;
  color: rgba(var(--rgb-text), 0.85);
  font-size: 0.85rem;
  line-height: 1.2rem;
  margin-bottom: 0.25rem;
}

.timeline .post .url > div .utitle i {
  font-size: 0.7rem;
  margin-right: 0.1rem;
  vertical-align: middle;
}

.timeline .post .url > div .udescription {
  font-size: 0.8rem;
  color: var(--clr-grey);
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timeline .post .url > div .uurl {
  font-size: 0.8rem;
  color: var(--clr-grey);
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timeline .post .url:hover, .timeline .post .url:focus {
  text-decoration: none !important;
}

.timeline .post .url:hover > div, .timeline .post .url:focus > div {
  background-color: rgba(var(--rgb-grey), 0.05);
}

.timeline .post .url:hover .utitle, .timeline .post .url:focus .utitle {
  text-decoration: underline;
}

.timeline .post > .post-picture {
  background-color: rgba(var(--rgb-grey), 0.05);
  min-height: 10rem;
  max-height: 35rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 0.5rem;
}

.timeline .post > .post-actions {
  margin-top: 1rem;
  border-top: 1px rgba(var(--rgb-grey), 0.07) solid;
  padding: 1rem 0 0 0;
}

.timeline .post > .post-actions button + button {
  margin-left: 1.5rem;
}

.timeline .post > .post-actions button {
  background-color: transparent;
  border: none;
  color: var(--clr-text);
  text-align: start;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  white-space: nowrap;
}

.timeline .post > .post-actions button > i {
  color: var(--clr-grey);
  margin-right: 0.5rem;
  font-size: 1rem;
}

.timeline .post > .post-actions button:hover, .timeline .post > .post-actions button:focus {
  background-color: rgba(var(--rgb-grey), 0.07);
  color: var(--clr-black);
}

.timeline .post > .post-actions button:hover > i, .timeline .post > .post-actions button:focus > i {
  color: var(--clr-text);
}

.timeline .post > .post-actions button:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(var(--rgb-grey), 0.2);
          box-shadow: 0 0 0 1px rgba(var(--rgb-grey), 0.2);
}

.timeline .post > .post-comment {
  margin-top: 1rem;
  background-color: var(--clr-light-accent-darkened);
  border-radius: 1.3rem;
  padding: 0.2rem;
}

.timeline .post > .post-comment > div > img {
  min-width: 2.2rem;
  min-height: 2.2rem;
  max-width: 2.2rem;
  max-height: 2.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.timeline .post > .post-comment > div > input {
  border: none;
  width: 100%;
  font-size: 0.9rem;
  color: var(--clr-text);
  background: transparent;
  border-radius: 0.5rem;
  padding: 0 0.75rem;
}

.timeline .post > .post-comment > div > button {
  background: transparent;
  border: none;
  color: var(--clr-grey);
  border-radius: 50%;
  font-size: 0.95rem;
  min-width: 2rem;
  min-height: 2rem;
  -webkit-transition: font-size ease-out 250ms;
  transition: font-size ease-out 250ms;
}

.timeline .post > .post-comment > div > button:focus, .timeline .post > .post-comment > div > button:hover {
  color: var(--clr-black);
  background: rgba(var(--rgb-grey), 0.1);
}

.timeline .post > .post-comment > div > button:active {
  font-size: 1.1rem;
}

@-webkit-keyframes slideInFromRight {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.timeline .friend-req .user {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.125rem -0.5rem;
}

.timeline .friend-req .user img {
  min-width: 3.5rem;
  min-height: 3.5rem;
  max-width: 3.5rem;
  max-height: 3.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0.75rem;
}

.timeline .friend-req .user div {
  vertical-align: middle;
}

.timeline .friend-req .user div span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  max-width: 20ch;
  font-size: 0.85rem;
  color: var(--clr-grey);
  margin-top: 0.125rem;
  line-height: 1.2rem;
}

@media (max-width: 1200px) {
  .timeline .friend-req .user div span {
    max-width: 15ch;
  }
}

.timeline .friend-req .user div h6 {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  line-height: 1.2rem;
}

.timeline .friend-req .user div h6 a {
  color: var(--clr-black);
}

.timeline .friend-req .user div h6 a:hover {
  text-decoration: underline;
}

.timeline .friend-req .user div button {
  margin-top: 0.5rem;
  margin-right: 0.75rem;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  border-radius: 0.5rem;
  padding: 0.25em 0.75em;
}

@media (max-width: 1200px) {
  .timeline .friend-req .user div button {
    padding: 0.125em 0.25em;
  }
}

.show {
  display: block !important;
  -webkit-transition: display ease-in-out 200ms;
  transition: display ease-in-out 200ms;
}

.parent-comment > div > .comment {
  margin-left: 0 !important;
  border: none !important;
  padding-left: 0 !important;
  padding-top: 1rem;
}

@media (max-width: 1200px) {
  .parent-comment > div > .comment {
    margin-left: 0 !important;
  }
}

.each-comment .comment {
  padding-top: 0.5rem;
  line-height: 1.2rem;
  margin-left: -2rem;
  padding-left: 0.75rem;
  border-left: 0.1rem rgba(var(--rgb-grey), 0.15) solid;
}

@media (max-width: 1200px) {
  .each-comment .comment {
    margin-left: -2rem;
  }
}

.each-comment .comment > div {
  width: 100%;
}

.each-comment .comment .content {
  margin-left: 0.5em;
  display: inline-block;
  min-width: 35%;
  background-color: rgba(var(--rgb-grey), 0.1);
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
}

.each-comment .comment .content > a {
  color: rgba(var(--rgb-text), 0.75);
}

.each-comment .comment .content > a > h6 {
  font-weight: 500;
  font-size: 0.8rem;
}

.each-comment .comment .content > a:hover, .each-comment .comment .content > a:focus {
  color: var(--clr-black);
  text-decoration: underline;
}

.each-comment .comment .content > p {
  margin-top: 0.25rem;
  font-size: 0.9rem;
  line-height: 1.325rem;
}

.each-comment .comment .comment-options {
  margin-top: 0.25rem;
  margin-left: 0.5rem;
}

.each-comment .comment .comment-options .dropright {
  display: inline-block;
}

.each-comment .comment .comment-options > button,
.each-comment .comment .comment-options .comment-actions {
  font-size: 0.8rem;
  background: transparent;
  border: none;
  color: var(--clr-text);
  margin-right: 0.125rem;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.each-comment .comment .comment-options > button > i,
.each-comment .comment .comment-options .comment-actions > i {
  color: var(--clr-grey);
  margin-right: 0.25rem;
}

.each-comment .comment .comment-options > button:hover, .each-comment .comment .comment-options > button:focus,
.each-comment .comment .comment-options .comment-actions:hover,
.each-comment .comment .comment-options .comment-actions:focus {
  background-color: rgba(var(--rgb-grey), 0.07);
  color: var(--clr-black);
}

.each-comment .comment .comment-options > button:hover > i, .each-comment .comment .comment-options > button:focus > i,
.each-comment .comment .comment-options .comment-actions:hover > i,
.each-comment .comment .comment-options .comment-actions:focus > i {
  color: var(--clr-text);
}

.each-comment .comment .comment-options > button:focus,
.each-comment .comment .comment-options .comment-actions:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(var(--rgb-grey), 0.2);
          box-shadow: 0 0 0 1px rgba(var(--rgb-grey), 0.2);
}

.each-comment .comment .comment-options .comment-actions {
  margin-left: 0.5rem;
}

.each-comment .comment .comment-options .comment-actions > i {
  margin: 0;
  vertical-align: middle;
}

.each-comment .comment .timesince {
  font-size: 0.75rem;
  color: rgba(var(--rgb-text), 0.75);
  margin-left: 0.25rem;
}

.each-comment .comment .post-comment {
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  width: 80%;
  max-width: 20rem;
  display: none;
  background-color: var(--clr-light-accent-darkened);
  border-radius: 1.3rem;
  padding: 0.2rem;
}

.each-comment .comment .post-comment > div > input {
  border: none;
  width: 100%;
  font-size: 0.9rem;
  color: var(--clr-text);
  background: transparent;
  border-radius: 0.5rem;
  padding: 0 0.75rem;
}

.each-comment .comment .post-comment > div > button {
  background: transparent;
  border: none;
  color: var(--clr-grey);
  border-radius: 50%;
  font-size: 0.95rem;
  min-width: 2rem;
  height: 2rem;
  -webkit-transition: font-size ease-out 250ms;
  transition: font-size ease-out 250ms;
}

.each-comment .comment .post-comment > div > button:focus, .each-comment .comment .post-comment > div > button:hover {
  color: var(--clr-black);
  background: rgba(var(--rgb-grey), 0.1);
}

.each-comment .comment .post-comment > div > button:active {
  font-size: 1.1rem;
}

.each-comment .avatar {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 2rem;
  min-height: 2rem;
  margin-top: 0.075rem;
}

.rightsidebar {
  padding: 0 0 0 1rem;
  -webkit-animation: fadeInOut 500ms ease;
          animation: fadeInOut 500ms ease;
}

.rightsidebar > .card > h6 {
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
  font-weight: 600;
}

.rightsidebar .back-hover:hover {
  background-color: var(--clr-light-accent);
}

.friends .timeline .card {
  -webkit-animation: fadeInOut 500ms ease;
          animation: fadeInOut 500ms ease;
}

.friends .timeline .card > h6 {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  line-height: 1.6rem;
  color: var(--clr-black);
  margin-bottom: 1.5rem;
}

.friendlistitem {
  margin: 0 0 1.5rem;
}

.friendlistitem img {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1rem;
}

.friendlistitem h6 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.25rem;
  letter-spacing: 0.03rem;
  line-height: 1.6rem;
}

.friendlistitem h6 a {
  color: var(--clr-black);
}

.friendlistitem h6 a:hover {
  text-decoration: underline;
}

.friendlistitem span {
  font-size: 0.8rem;
  line-height: 1.4rem;
  display: block;
  white-space: nowrap;
  color: var(--clr-grey);
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-page .timeline .profile-user {
  -webkit-animation: fadeInOut 500ms ease;
          animation: fadeInOut 500ms ease;
}

.profile-page .timeline .profile-user .cover-image {
  width: 100%;
  height: 20vh;
  max-height: 300px;
  background: var(--clr-light-accent);
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-page .timeline .profile-user .edit {
  position: absolute;
  right: 1rem;
  background: rgba(var(--rgb-light-accent), 0.5);
  border: none;
  width: 2rem;
  height: 2rem;
  border-bottom-left-radius: .5rem;
  border-top-right-radius: .5rem;
  color: var(--clr-text);
  font-size: .7rem;
}

.profile-page .timeline .profile-user .edit:hover, .profile-page .timeline .profile-user .edit:focus {
  background: rgba(var(--rgb-light-accent), 0.8);
}

.profile-page .timeline .profile-user .d-flex {
  margin: -2.5rem 1rem 0 2rem;
}

.profile-page .timeline .profile-user .avatar {
  width: 7.5rem;
  height: 7.5rem;
  min-width: 7.5rem;
  min-height: 7.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0.2rem var(--clr-white) solid;
  background-color: var(--clr-light-accent);
}

.profile-page .timeline .profile-user .user-details {
  margin: 3.5rem 0 0 1rem;
}

.profile-page .timeline .profile-user .user-details h6 {
  font-size: 1.1rem;
  font-style: bold;
  color: var(--clr-black);
}

.profile-page .timeline .profile-user .user-details p {
  color: rgba(var(--rgb-text), 0.9);
  line-height: 1.2rem;
  font-size: 0.9rem;
  margin-top: .2rem;
}

.profile-page .timeline .profile-user .user-details p i {
  font-size: .75rem;
  width: 1rem;
  margin-top: .5rem;
  color: var(--clr-text);
}

.profile-page .timeline .profile-user .user-details p + p {
  color: rgba(var(--rgb-text), 0.7);
  font-size: .85rem;
  margin-top: 0;
  line-height: 1.2rem;
}

.profile-page .timeline .profile-user ul {
  list-style-type: none;
  margin: 1rem 0 0 1rem;
  padding: 0;
}

.profile-page .timeline .profile-user ul li {
  font-size: 0.85rem;
  color: rgba(var(--rgb-text), 0.8);
  line-height: 1.6rem;
}

.profile-page .timeline .profile-user ul li i {
  color: var(--clr-text);
  margin-right: 0.5rem;
  font-size: .8rem;
}

@media (max-width: 992px) {
  .profile-page .timeline .profile-user .d-flex {
    margin-left: 0;
  }
  .profile-page .timeline .profile-user .user-details {
    margin: 3rem 0 0 0.5rem;
  }
}

.profile-page .timeline .recent-activity {
  line-height: 1.3rem;
  padding: 0.5rem 0 0.25rem 0;
  border-bottom: 1px solid var(--clr-light-accent);
  -webkit-animation: fadeInOut 500ms ease;
          animation: fadeInOut 500ms ease;
}

.profile-page .timeline .recent-activity .what {
  font-size: 0.75rem;
  color: var(--clr-grey);
}

.profile-page .timeline .recent-activity .content {
  font-size: 0.85rem;
}

.profile-page .timeline .recent-activity .content::before {
  content: "“";
}

.profile-page .timeline .recent-activity .content::after {
  content: "”";
}

.profile-page .timeline .recent-activity .when {
  font-size: 0.75rem;
  color: rgba(var(--rgb-text), 0.85);
}

.friend-suggestions {
  -webkit-animation: fadeInOut 500ms ease;
          animation: fadeInOut 500ms ease;
}

.find-friends .user + .user {
  border-top: 1px solid var(--clr-light-accent-darkened);
  padding-top: 1.5rem;
}

.find-friends .user {
  padding-bottom: 1rem;
}

.find-friends .user img {
  width: 4rem;
  height: 4rem;
  min-height: 4rem;
  min-width: 4rem;
}

.find-friends .user div {
  margin-left: .25rem;
}

.find-friends .user div h6 {
  font-size: 0.9rem;
  margin-bottom: .25rem;
}

.find-friends .user div span {
  font-size: 0.85rem;
  white-space: normal;
  max-width: 100%;
  margin-bottom: .25rem;
}

@media (max-width: 1400px) {
  .find-friends .user div span {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .find-friends .user div span {
    max-width: 100%;
  }
}

h6 > span {
  font-size: 0.8rem;
  color: rgba(var(--rgb-text), 0.8);
}

.sorry {
  text-align: center;
  font-size: 1.4rem;
  font-family: "Poppins";
  margin: 4rem 1rem;
  line-height: 3rem;
  color: var(--clr-grey);
}

.sorry-sm {
  text-align: center;
  line-height: 1rem;
  font-size: 0.8rem;
  color: var(--clr-grey);
}

@media (max-width: 992px) {
  body {
    background-color: var(--clr-light-accent);
    background-image: none;
  }
  .container {
    padding: 0;
  }
  .leftsidebar,
  .rightsidebar,
  .home .intro-panel p {
    display: none;
  }
  .timeline .post .post-actions button + button {
    margin-left: .5rem;
  }
  .timeline .post .post-actions button > i {
    margin-right: 0.35rem;
  }
}
/*# sourceMappingURL=styles.css.map */